---
title: Welcome to Middleman-BibTeX
---
<h1>Flexible bibliographies</h1>

<ul>
  <% citations_search(nil).each do |key|  %>
  <li <%= id_tag(key) %>>
    <%= citation_with_links(key) %>
  </li>
  <% end %>
</ul>
